@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

@media screen and (min-width : 992px) {

    .carousel-inner img {
        height : 90vh;
    }
}

@media screen and (max-width : 992px) {
    html {
        font-size : 14px;
    }

    .carousel-inner img {
        height : 75vh;
    }
}

@media screen and (max-width : 768px) {
    .navbar-collapse {
        background-color : rgba(0, 0, 0, 0.5);
    }


    .carousel-inner img {
        height : 50vh;
    }
}

@media screen and (max-width : 600px) {
    .carousel-inner img {
        height : 25vh;
    }
}

a:not(.btn, .nav-link, .navbar-brand, .dropdown-item) {
    text-decoration : underline;
}

li {
    list-style-type : none;
}

html {
    width  : 100%;
    height : 100%;
}

body, div.collapse, div.collapse ul, li.nav-item, a.nav-link {
    height : 100%;
}

a {
    display : inline-block;
}

nav {
    font-family   : 'Lexend Deca', sans-serif;
    border-bottom : 3px solid rgba(255, 255, 255, 0.5);
    height        : fit-content;
}

* {
    font-family : 'Lexend Deca', sans-serif;
}

nav.navbar {
    padding : 0 5vw;
}

a.navbar-brand {
    font-size : 2rem;
    color     : black;
}


a.navbar-brand:hover span {
    color : red;
}

nav.navbar {
    background-color : rgba(52, 58, 64, 1);
}

nav.navbar-shrink {
    background-color : rgba(52, 58, 64, 0.5);
}


a.nav-link {
    margin : 0 0.5vw;
}


li.nav-item {
    padding : 10pt 0;
}

li.nav-item:hover {
    background-color : darkgrey;
}

a#btnLogin.btn.btn-success {
    height  : fit-content;
    margin  : auto 1vw;
    padding : 0.5vw;
}

li.nav-item:hover a.nav-link > span {
    color : black;
}

header.container-fluid {
    padding : 0;!important;
}

/* Make the image fully responsive */
.carousel-inner img {
    width      : 100%;
    object-fit : cover;
}
body {
    position: relative;
}

footer {
    width    : 100%;
    height   : 10vh;
    top      : 100%;
    position : sticky;
}

div.dropdown-menu {
    background-color : rgba(52, 58, 64, 0.5);
    margin           : 0;
    padding          : 0.5vh;
}

section.container-fluid {
    /*background-color : #343a40;*/
    /*background-image : url("http://localhost:8080/TravelManagement/resources/images/bg-main-page.jpg");*/
    /*background-size  : cover;*/
    height: fit-content;
}

div.col-lg-5 div.card {
    margin : 5vh auto;
}

i {
    display: inline-block;
    margin-right: 3pt;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: inherit;
}

.fa-star{
    color: orange;
}

div.collapse {
    height: auto;
    margin-bottom: 1rem;
}
.btn-tourSchedule {
    text-align: left;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1vh;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vw;
    height: 2vh;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2vw;
    height: 2vh;
    background: #04AA6D;
    cursor: pointer;
}